<h1>Burger Biter</h1>
{{!-- <p>See a burger you like? Click the "Eat" button to eat it! It will be removed from the "Burgers To Eat" list and
    moved
    to the "Burgers Eaten" list. Or, add a new burger with the text field and "Add Burger" button!</p> --}}
<div class="menu add-div">
    <h3>Add Burger</h3>
    <form action="" method="">
        <input type="textbox" placeholder="Enter new burger..." id="addBurgerName">
        <input type="submit" id="addBurgerBtn" value="Add Burger">
    </form>
</div>
<div class="menu modify-div">
    <h3>Modify Burger</h3>
    <ul class="menu-ul">
        {{#each burgers}}
        <li class="menu-li" data-id={{id}} data-name="{{burger_name}}">#{{id}}: {{burger_name}}</li>
        {{/each}}
    </ul>
    <form action="">
        <input type="textbox" placeholder="" id="modifyBurgerName">
        <input type="submit" data-id="" id="modifyBurgerBtn" value="Change">
    </form>
</div>
<div class="menu delete-div">
    <h3>Delete Burger</h3>
    <ul class="menu-ul">
        {{#each burgers}}
        <li class="delete-li" data-id={{id}} data-name="{{burger_name}}">#{{id}}: {{burger_name}}</li>
        {{/each}}
    </ul>
    <form action="">
        <p id="deleteBurgerName">Burger to delete...</p>
        <input type="submit" data-id="" id="deleteBurgerBtn" value="Delete">
    </form>
</div>
<div class="uneaten-div">
    <h2 class="list-heading">Burgers to Eat</h2>
    <img src="/assets/img/burger1.png" class="burger-img">
    <ul class="burgers-ul">
        {{#each burgers}}
        {{#unless devoured}}
        <li class="burgers"><button class="eat-button" data-id={{id}}>Eat!</button> #{{id}}: {{burger_name}}</li>
        {{/unless}}
        {{/each}}
    </ul>
</div>
<div class="eaten-div">
    <h2 class="list-heading">Burgers Eaten</h2>
    <img src="/assets/img/burger2.png" class="burger-img">
    <ul class="burgers-ul">
        {{#each burgers}}
        {{#if devoured}}
        <li class="burgers">#{{id}}: {{burger_name}}</li>
        {{/if}}
        {{/each}}
    </ul>
</div>